@model IEnumerable<Models.ListBaoCao>
@{
    ViewBag.Title = "BaoCaoTheoTheLoai";
}

<h2>BaoCaoTheoTheLoai</h2>

<table class="table">
    <tr>
        <th>
            Mã Thể loại
        </th>
        <th>
            Số lượng sách đang mượn
        </th>
        <th>Tỉ lệ</th>
    </tr>
    @{ try
        {
            foreach (var item in ViewBag.baocao)
            {
                <tr>
                    <td>
                        @item.matheloaisach
                    </td>
                    <td>
                        @item.countSLSach
                    </td>
                    <td>
                        @item.tile %
                    </td>
                </tr>
            }
            <p>Tổng số sách đang mượn: @Html.Action("CountTotalMuonTra", "MuonTraSach")</p>
        }
        catch
        {
                <caption style="text-align:center">Chưa có dữ liệu</caption>     
               
        }
    }

</table>



