@model IEnumerable<Models.ListBaoCao>
@{
    ViewBag.Title = "BaoCaoTheoTheLoai";
}

<h2>Báo cáo sách mượn theo thể loại</h2>

<table class="table">
    <tr>
        <th>
           Tên thể loại
        </th>
        <th>
            Số lượng sách đang mượn
        </th>
        <th>Tỉ lệ</th>
    </tr>
    @{ try
        {
            foreach (var item in ViewBag.baocao)
            {
        <tr>

            <td>
                @item.tensach
            </td>
            <td>
                @item.countSLSach
            </td>
            <td>
                @item.tile %
            </td>
        </tr>
            }
            <p>Tổng số sách đang mượn: @Html.Action("CountTotalMuonTra", "MuonTraSach")</p>
        }
        catch
        {
                <caption style="text-align:center">Chưa có dữ liệu</caption>     
               
        }
    }

</table>



