@using Models.Framework;
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Sách</h2>
      
        <p>Tổng số sách: @Html.Action("CountTotalSach", "Sach")</p>
    </div>
    <div class="col-md-4">
        <h2>Độc giả</h2>

        <p>Tổng số độc giả: @Html.Action("CountTotalDocGia", "DocGia")</p>
    </div>
    <div class="col-md-4">
        <h2>Sách</h2>

        <p>Tổng số sách: @Html.Action("CountTotalSach", "Sach")</p>
    </div>
</div>

<div class="">
    <img src="~/assets/image/backgrounf.jpg" style="width:100%" />
</div>


    
